td.btn-edit{
    flex: 1;
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    text-align: end;
}

.btn-right {
    display: flex;
    align-self: flex-end;
}

ol.items-list {
    list-style: none inside;
    flex-grow: 1;
}
ol.items-list span{
    display: flex;
    margin: 10px 0;
}

h5{
    color: rgb(76, 73, 247);
}